*,
*::before,
*::after{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* general css */
.pointer{
  cursor: pointer;
}

.responsive-img{
  height: auto;
  max-width: 100%;
}

.responsive-txt{
  font-size: 5vw;
}

.responsive-hdr{
  font-size: 7vw;
  margin: 2%;
}
/* general css */
.core{
  background-color: #5a7497;
}

.header{
  text-align: center;
  margin-bottom: 10%;
}

.header-logo{
  padding-top: 5%;
}

.header-img{
  width:20%;
  height: 20%;
}

.header-text{
letter-spacing: 3px;
color: white;
text-shadow: 2px 1px 4px grey;
}

.about{
  margin: 10px;
  padding: 10px;
  border-left: 6px solid white;
}

.section-hdr{
  margin-top: 10%;
  margin-bottom: 5%;
  color: white;
  text-shadow: 2px 1px 4px grey;
}

.featured-item{
  margin: 2%;
}

.footer{
  text-align: center;
  color: white;
}

@media screen and (min-width:596px) {
  .responsive-txt{
    font-size: 3vw;
  }

  .responsive-hdr{
    font-size: 5vw;
  }

  .header{
    display: flex;
  }

  .header-logo{
    width:20%;
    margin-left: 5%;
  }

  .header-img{
    width: auto;
    height: auto;
  }

  .header-text{
    width:80%;
    height: auto;
    text-align: right;
    margin: 5%;
  }

  .main-img{
    padding: 5%;
  }

  .section-hdr{
    margin: 5%;
  }

  .featured-work{
    display: flex;
  }

  .featured-item{
    margin: 15px 15px;
  }

}

@media screen and (min-width:800px){

  .core{
    max-width: 800px;
    margin: auto;
  }

  .responsive-txt{
    font-size: 20px;
  }

  .responsive-hdr{
    font-size: 30px;
  }

  .header-logo{
    width:25%;
  }

  .header-img{
    padding: 30px;
  }

  .header-text{
    width:75%;
    text-align: right;
  }

  .description{
    display: flex;
  }

  .main-img{
    width: 60%;
  }

  .about{
    width: 40%;
    text-align: justify;

  }
  .footer{
    max-width: 100%;
    font-size: 20px;
  }

}
